.content-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(circle, #ff3333, #ff5c2d, #ff7a2b, #ff9531, #ffad3e, #ffa749, #ffa153, #ff9c5d, #ff7a71, #ff5c95, #ed51c2, #a960ee);
    clip-path: polygon(0 0, 100% 0, 100% 220px, 0 480px);
}

.content-holder {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10vh;
    max-width: 90vw;
    width: 1000px;
    margin: 10vh auto 0 auto;
    gap: 2rem;
}

.content-image {
    border-radius: 40px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, .2);
}

.content-image svg {
    width: 100%;
    height: 100%;
}

@media(max-width:768px) {
    .content-background {
        clip-path: polygon(0 0, 100% 0, 100% 250px, 0 350px);
    }

    .content-image svg {
        display: none;
    }
}