.content-text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.content-first {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    background: rgba(0, 0, 0, .25);
    width: fit-content;
    padding: .4rem 1rem;
    color: var(--white);
    font-size: .8rem;
    font-weight: 500;
    border-radius: 40px;
}

.content-first ul {
    list-style: circle;
    color: var(--dark-gray);
}

.content-first ul li a {
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 4px;
    transition: 250ms ease-out;
}

.content-first ul li a:hover {
    color: var(--light-gray);
}

.content-first ul li a svg {
    font-size: 10px;
    transition: 250ms ease-out;
}

.content-first ul li a:hover svg {
    transform: translateX(4px);
}

.content-text h1 {
    font-size: clamp(30px, 8vw, 90px);
    color: var(--black);
    line-height: 105%;
}

.content-text p {
    color: var(--dark-gray);
    max-width: 500px;
    width: 100%;
    line-height: 24px;
    font-size: 1.125rem;
}

.content-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.content-actions a {
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 30px;
    gap: 4px;
    padding: .4rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid transparent;
    transition: 250ms ease-out;
}

.content-actions a:hover svg {
    transform: translateX(4px);
}

.content-actions a svg {
    font-size: 10px;
    transition: 250ms ease-out;
}

.primary-btn {
    background: var(--blue);
    color: var(--white);
}

.primary-btn:hover {
    background-color: var(--hovering-effect);
}

.secondary-btn {
    background-color: transparent;
    color: var(--blue);
}

.secondary-btn:hover {
    color: var(--hovering-effect);
}

@media(max-width: 768px) {
    .content-text h1 {
        font-size: clamp(50px, 8vw, 90px);
    }

    .content-first {
        flex-direction: column;
        border-radius: 2px;
        gap: 0;
        align-items: flex-start;
    }

    .content-first ul {
        list-style: none;
    }
}