.header {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
    width: 1000px;
    transform: translateX(-50%);
    z-index: 2;
}

.header > a {
    color: #fefefe;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 250ms ease-out;
}

.header > a:hover {
    color: #d0d0d0;
}

.header nav ul.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    position: relative;
    height: 100%;
}

.header nav {
    height: 100%;
}

.header nav ul.nav-links > li:last-of-type > a {
    cursor: pointer;
}

.header nav ul.nav-links > li > a {
    text-decoration: none;
    color: #fefefe;
    font-weight: 600;
    font-size: .95rem;
    transition: 250ms ease-out;
    cursor: default;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header nav ul.nav-links > li > a:hover {
    color: #d0d0d0;
}

.header nav ul.nav-links > li > a:hover .products-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.header .sign-in__btn, .header .burger-menu__btn {
    background-color: rgba(255, 255, 255, .25);
    border: none;
    font-size: 1rem;
    outline: none;
    font-weight: 500;
    border-radius: 30px;
    color: #fefefe;
    padding: .5rem 1.25rem;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: 250ms ease-out;
}

.header .burger-menu__btn {
    display: none;
}

.header .sign-in__btn:hover, .header .burger-menu__btn:hover {
    background-color: rgba(255, 255, 255, .45);
}

.header .sign-in__btn svg {
    transition: 250ms ease-out;
    font-size: 10px;
}

.header .sign-in__btn:hover svg {
    transform: translateX(4px);
}

.products-list {
    display: flex;
    background: #fefefe;
    border-radius: 4px;
    position: absolute;
    bottom: 0.5rem;
    transform: translate(-50%, 100%);
    left: 50%;
    padding: 4rem;
    gap: 4rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .15);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 250ms ease-out;
}

.products-list h3 {
    color: #d0d0d0;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}

.products-list ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}

.products-list ul li a {
    display: flex;
    text-decoration: none;
    width: 200px;
}

.products-list ul li a > svg {
    width: 2.8rem;
}

.products-list ul li a div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
}

.products-list ul li a h4 {
    color: #000;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 4px;
    width: fit-content;
}

.products-list ul li a h4 svg {
    font-size: 10px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 250ms ease-out;
}

.products-list ul li a:hover h4 svg {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateX(4px);
}

.products-list ul li a h5 {
    color: #d0d0d0;
    font-weight: 500;
    font-size: .82rem;
    transition: 250ms ease-out;
}

.products-list ul li a:hover h5 {
    color: #000;
}

.triangle {
    position: absolute;
    top: 0;
    left: 14.2rem;
    transform: translateY(-13px);
    width: 0; 
    height: 0; 
    border-bottom: 13px solid #fefefe; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent;
}



@media(max-width: 768px) {
    .header nav {
        display: none;
    }

    .header .sign-in__btn {
        display: none;
    }

    .header .burger-menu__btn {
        display: flex;
    }
}