@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --black: #161616;
  --blue: #0A2540;
  --hovering-effect: #4a37a0;
  --sky: #96b6b9;
  --white: #fefefe;
  --light-gray: #dfdfdf;
  --dark-gray: #575757;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}